<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Refund Product</title>
</head>
<body>

<h1>Refund Product</h1>

<form action="/order/refundProduct" method="post">
    <input type="hidden" name="orderID" th:value="${orderID}">
    <input type="hidden" name="productID" th:value="${product.productID}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> <!-- CSRF Token -->

    <label for="reason">Reason for Refund:</label>
    <textarea name="reason" required></textarea>
    
    <button type="submit">Submit</button>
</form>

</body>
</html>
